
@font-face {
	font-family: "Open Sans", sans-serif;
	src: url(../fonts/OpenSans-Regular.ttf);
	src: url(../fonts/OpenSans-Regular.woff);
	src: url(../fonts/OpenSans-Regular.woff2);
	font-weight: normal;
}

@font-face {
	font-family: "Open Sans", sans-serif;
	src: url(../fonts/OpenSans-Bold.ttf);
	src: url(../fonts/OpenSans-Bold.woff);
	src: url(../fonts/OpenSans-Bold.woff2);
	font-weight: bold;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
} 

@media (min-width: 1201px) {


body {
	width: 100%;
	height: 100%;
	font-family: "Open Sans", sans-serif;
}

.header {
	display: flex;
	flex-wrap: wrap;
	background-image: url('../img/banner-bg.jpg');
	padding: 28px 0 145px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	justify-content: center;
	align-items: center;
}

.header::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.6;
	background-color: black;
}

.header-row {
	display: flex;
	flex-wrap: wrap;
	width: 1200px;
	padding: 0 15px;
	justify-content: space-between;
	box-sizing: border-box;
}

.logo {
	width: 179px;
	z-index: 1;
}

.nav-bar {
	z-index: 1;
	flex-shrink: 1;
	align-self: center;
}

.nav-items {
	display: flex;
	list-style-type: none;
}

.nav-item {
	margin-right: 35px;
}

.nav-link {
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
}

.nav-item:last-child {
	margin-right:  0;
}

.nav-link:hover {
	text-decoration: underline;
}

.slogan {              /*перепрыгивает в строку при большом размере экрана*/
	z-index: 1;
	font-size: 45px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	width: 679px;
	text-align: center;
	line-height: 75px;
	margin: 125px auto 0;

}
/*новый код*/

.trends {
	margin-top: 59px;
}

.trends-title {
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #0f0d0e;
	margin: 10px 0 35px;
}

.trends-title::after {
	content: '';
	width: 66px;
	height: 3px;
	opacity: 0.4;
	background-color: #b59f5b;
	margin: 14px auto 29px;
	display: block;
}

.trends-content {
	display: flex;
	margin-bottom: 63px;
}

.trend {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	padding: 0 19px 16px;
	margin-right: 4px;
	min-height: 320px;
	justify-content: center;
	align-items: flex-end;
	background-image: url(../img/trend1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.trend-two {
	background-image: url(../img/trend2.jpg);
}

.trend-three {
	background-image: url(../img/trend3.jpg);
}

.trend-four {
	background-image: url(../img/trend4.jpg);
}

.trend:last-child {
	margin-right: 0;
}

.trend::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.6;
	background-color: black;
}

.trend-text {
	padding: 41px 44px 39px 21px;
	border: 3px solid rgba(181, 159, 91, 0.6);
	z-index: 1;
	box-sizing: border-box;
}

.trend-subject {
	margin-top: 10px;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}
.trend-subject:hover {
	color: #b59f5b;
}



.text {
	display: flex;
	flex-wrap: wrap;
	width: 1170px;
	margin: auto;
	justify-content: center;
}

.main {
	max-width: 774px;
}

.content {
	display: flex;
	margin-bottom: 60px;
}

.content-image {
	background-color: #eff6f1;
}

.content:last-child {
	margin-bottom: 0;
}

.content-text {
	margin-left: 30px;
	display: flex;
	flex-wrap: wrap;
}

.content-item {
	display: flex;
	list-style-type: none;
}

.content-item li {
	margin-right: 20px;
	margin-bottom: 14px;
}

.link-tag {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #b59f5b;
}

.link-tag:hover {
	text-decoration: underline;
}

.content-item li:last-child {
	padding-right: 0;
}

.subject {
	display: block;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #0f0d0e;
	margin: 10px 0 35px;
}

.subject:hover {
	color: #b59f5b;
}

.datetime {
	font-size: 12px;
	font-weight: 400;
	color: #888888;
	margin-right: 15px;
}

.author {
	font-size: 12px;
	font-weight: 700;
	color: #000000;
}

.desc {
	font-size: 15px;
	font-weight: 400;
	color: #0f0d0e;
	margin-top: 50px;
}

.desc-text {
	margin-top: 0;
	margin-bottom: 17px;
}

.desc-text:last-child {
	margin-bottom: 0;
}


.aside {
	width: 270px;
	margin-left: 106px;
}

.aside-title {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #0f0d0e;
	text-align: center;
	
}

.aside-title::after { 
	content: '';
	width: 66px;
	height: 3px;
	opacity: 0.4;
	background-color: #b59f5b;
	margin: 14px auto 29px;
	display: block;
}

.aside-text {
	display: flex;
	margin-top: 15px;
}

.aside-text:nth-child(2) {
	margin-top: 0;
}

.aside-image {
	background-color: #f4f7f6;
}

.aside-desc {
	margin-left: 11px;
}

.aside-datetime {
	opacity: 0.54;
	font-size: 12px;
	font-weight: 400;
	color: #000000;
}

.subtitle {
	display: block;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
	margin-top: 2px;
}

.subtitle:hover {
	color: #b59f5b;
}


.search {
	display: flex;
	margin-top: 60px;
}

#search-input {
	background-color: #f4f7f6;
	border: none;
	font-size: 13px;
	line-height: 40px;
	font-weight: 400;
	color: #000000;
	opacity: 0.54;
	padding: 0 19px;
}

#search-input:focus {
	outline: 1px solid #b59f5b;
}

.button {
	width: 48px;
	height: 48px;
	background-color: #b59f5b;
	border: none;
	background-image: url(../svg/search.svg);
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: center;
	cursor: pointer;
}

.button:hover {
	background-color: #323232;
}

.subscription {
	margin-top: 46px;
}

#email {
	width: 100%;
	height: 49px;
	background-color: #f4f7f6;
	border: none;
	font-size: 13px;
	line-height: 40px;
	font-weight: 400;
	color: #000000;
	opacity: 0.54;
	padding: 0 19px;
	box-sizing: border-box;
}

#email:focus {
	outline: 1px solid #b59f5b;
}

.btn {
	width: 100%;
	height: 49px;
	background-color: #b59f5b;
	border: none;
	font-size: 14px;
	line-height: 40px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 16px;
	cursor: pointer;
}

.btn:hover {
	background-color: #323232;
}

.aside-section {
	margin-top: 61px;
}

.aside-section:first-child {
	margin-top: 0;
}

.tags {
	margin-top: 41px;
	text-align: left;
}

.tags li {
	background-color: rgba(244,243,241,0.0);
	border: 3px solid #eeeeee;
	margin: 0 4px 6px 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.tags li:hover {
	background-color: rgba(244,243,241,0.0);
	border: 3px solid #b59f5b;
}

.tag {
	display: block;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #0f0d0e;
	padding: 5px 10px;
}

.topics {
	margin-top: 28px;
	list-style-type: none;
}

.topics li {
	box-sizing: border-box;
}

.topics-link {
	font-size: 14px;
	line-height: 47px;
	font-weight: 700;
	color: #000000;
	position: relative;
}

.topics-link:hover {
	color: #b59f5b;
}

.topics-link::after { 
	content: '';
	width: 271px;
	height: 1px;
	background-color: #eeeeee;
	position: absolute;
	top: 33px;
	left: 0;
}

.count {
	font-size: 12px;
	font-weight: 700;
	color: #b59f5b;
	vertical-align: super;
	padding: 12px 0 0 4px;
}


.products {
	margin-top: 64px;
}

.products-container {
	display: flex;
}

.products-content {
	width: 30%;
	margin-right: 65px;
	align-self: flex-end;
}

.products-content:last-child {
	margin-right: 0;
}

.product-image {
	margin: 0 23px;
}

.card {
	position: relative;
	flex-grow: 1;
	min-height: 267px;
	margin-top: -30px;
	padding: 57px 25px 0 23px;
	border: 3px solid rgba(181, 159, 91, 0.6);
	box-sizing: border-box;
}

.product-subject {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #0f0d0e;
}

.product-text {
	font-size: 15px;
	font-weight: 400;
	color: #0f0d0e;
}

.all {
	color: #b59f5b;
}

.all:hover {
	text-decoration: underline;
}

.price-card {
	display: flex;
	margin-top: 27px;
	justify-content: center;
	align-items: center;
}

.price-item {
	list-style-type: none;
}

.price {
	font-size: 14px;
	font-weight: 700;
	text-decoration: line-through;
	text-transform: uppercase;
	color: #0f0d0e;
	margin-right: auto;
}

.new-price {
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
}

.btn-product {
	width: 141px;
	height: 49px;
	margin-left: auto;
}



.footer {
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}

.socials {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 1170px;
	padding: 32px 0;
	background-color: #f4f7f6;
	margin: 0 auto;
	
}
.socials li {
	margin-right: 30px;
}

.socials li:last-child {
	margin-right: 0;
}
.social-dribbble {
	display: block;
	width: 20px;
	height: 20px;
	background-image: url('../svg/001-dribbble.svg');
}

.social-pinterest {
	display: block;
	width: 20px;
	height: 20px;
	background-image: url('../svg/001-pinterest.svg');
}

.social-tumblr {
	display: block;
	width: 20px;
	height: 20px;
	background-image: url('../svg/003-tumblr.svg');
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.row {
	text-align: center;
	margin: 70px auto 40px;
}

.row-link {
	font-size: 12px;
	font-weight: 700;
	color: #999999;
}



.popup {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	top: 0;
	left: 0;
	z-index: 2;
}

.popup-body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.popup-content {
	font-family: inherit;
	background-color: #ffffff;
	padding: 54px 30px;
	max-width: 392px;
	position: relative;
	box-sizing: border-box;
}

.close {
	background-image: url('../svg/form-x.svg');
	background-repeat: no-repeat;
	border: none;
	background-color: transparent;
	width: 19px;
	height: 19px;
	position: absolute;
	top: -30px;
	right: 0;
	cursor: pointer;
}

.close-text {
	visibility: hidden;
}

.popup-hint {
	display: block;
	font-size: 13px;
	margin-bottom: 9px;
}

.popup-select {
	font-family: inherit;
	font-size: 13px;
	opacity: 0.54;
	width: 100%;
	min-height: 49px;
	background-color: #f4f7f6;
	padding: 18px 0 18px 18px;
	border: none;
	box-sizing: border-box;
}

.select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url(../svg/form-arrows.svg);
	background-repeat: no-repeat;
	background-position: right 15px center;
	background-size: 2% 32%;
	margin-bottom: 33px;
}

.popup-select:focus {
	outline: 1px solid #b59f5b;
}

.radio-form {
	margin-bottom: 33px;
}

.radio {
	position: absolute;
	clip: rect (1px 1px 1px 1px);
	height: 1px;
	width: 1px;
}

.radio-group-text {
	font-size: 13px;
	cursor: pointer;
}

.radio-group-text::before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(../svg/form-empty-circle.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px;
	vertical-align: middle;
	margin-right: 8px;
}

.radio:checked~.radio-group-text::before {
	background-image: url(../svg/form-circle.svg);
}

.field {
	color: #000000;
	min-height: 132px;
	padding: 21px 0 0 21px;
}

.btn-popup {
	width: 100%;
}
}









/*.header {
	display: flex;
	flex-wrap: wrap;
	background-image: url('../img/banner-bg-tablet.jpg');
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	justify-content: center;
	align-items: center;
	min-height: 392px;
}

.header::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.6;
	background-color: black;
}

.header-row {
	display: flex;
}

.logo {
	width: 158px;
	height: 36px;
	margin: 43px 517px 313px 35px;
	z-index: 1;
}

.nav-bar {
	margin: 0 35px 100px 0;
	z-index: 1;
	flex-shrink: 1;
} 

.nav-bar::before,
.nav-bar::after {
	content: "";
	position: absolute;
	right: 0;
	width: 23px;
	height: 4px;
	background-color: #ffffff;
}

.nav-bar::before {
	top: 52px;           /**кривой бургер
}

.nav-bar::after {
	top: 70px;
}

.nav-item {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.slogan {
	z-index: 1;
	font-size: 40px;
	width: 606px;
	text-align: center;
	line-height: 75px;
	margin: 0 47px 124px; 
	text-transform: uppercase;
	color: #ffffff;
}

.trends {
	margin-top: 46px;
}

.trends-title {
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	color: #0f0d0e;
	font-size: 0.9em;       /**неправильно работает пересчёт**
	margin: 10px 0 32px;
}

.trends-title::after {
	content: '';
	width: 66px;
	height: 3px;
	opacity: 0.4;
	background-color: #b59f5b;
	margin: 14px auto 29px;
	display: block;
}

.trends-content {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.trend {
	display: flex;
	position: relative;
	max-width: 345px;
	justify-content: center;
	align-items: flex-end;
	background-image: url(../img/trend1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-right: 2px;
	min-height: 247px;
}


.trend-two {
	background-image: url(../img/trend2.jpg);
}

.trend-three {
	background-image: url(../img/trend3.jpg);
}

.trend-four {
	background-image: url(../img/trend4.jpg);
}

.trend:last-child {
	margin-right: 0;
}

.trend::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.6;
	background-color: black;
}

.trend-text {
	padding: 38px 0 34px 33px;
	margin-bottom: 14px;
	width: 345px;;
	border: 3px solid rgba(181, 159, 91, 0.6);
	z-index: 1;
	box-sizing: border-box;
}

.trend-subject {
	padding-top: 11px;
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}

.trend-subject:hover {
	color: #b59f5b;
}

.text  {
	padding: 50px 35px;
}

.main {
	width: 393px;
	margin-right: 35px;
}

.content-text {
	margin-left: 0;
	margin-top: 15px;
	width: 100%;
}
.aside {
	margin-left: 35px;
}*/